<!DOCTYPE html>

<html>
    <body>
        <form action='/predict' method="POST">
            yummy: <input type='text' name='yummy'><br>
            convenient: <input type='text' name='convenient'><br>
            spicy: <input type='text' name='spicy'><br>
            fattening: <input type='text' name='fattening'><br>
            greasy: <input type='text' name='greasy'><br>
            fast: <input type='text' name='fast'><br>
            cheap: <input type='text' name='cheap'><br>
            tasty: <input type='text' name='tasty'><br>
            expensive: <input type='text' name='expensive'><br>
            healthy: <input type='text' name='healthy'><br>
            disgusting: <input type='text' name='disgusting'><br>
            Like: <input type='text' name='Like'><br>
            Age: <input type='text' name='Age'><br>
            VisitFrequency: <input type='text' name='VisitFrequency'><br>
            Gender: <input type='text' name='Gender'><br>

            Class: {{result}} <br>
            <input type='submit' value='Predict'>
        </form>
    </body>
</html>